body {
	background-image: url('ryze.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	overflow-x: hidden;
}


.column {
	float: left;
	width: 33.33%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.kena {
	position: absolute;
  	top: 0%;
  	left: 67%;
  	width: 32%;
	color: GoldenRod;
	font-family:'Source Serif Pro', serif; 
	font-size: 2em;
}

.ilus {
	position: absolute;
  	left: 3%;
  	width: 36%;
	color: #00FFDB;
	font-family: 'Roboto Slab', serif; 
	font-size: 2em;
}

.ilus2 {
	position: absolute;
  	top: 15%;
  	left: 3%;
  	width: 36%;
	color: #00FFDB;
	font-family: 'Roboto Slab', serif; 
	font-size: 1.5em;
}

.nimed1{
	color: #00FFDB;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
	position: absolute;
  	top: 43%;
  	left: 33%;
  	width: 26%;
}

.nimed2{
	color: GoldenRod;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
	position: absolute;
  	top: 43%;
  	left: 46%;
  	width: 26%;
}

.nimed3{
	color: #62B2A;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
	position: absolute;
  	top: 43%;
  	left: 61%;
  	width: 26%;
}

.nimed4{
	color: GoldenRod;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
	position: absolute;
  	top: 93%;
  	left: 42%;
  	width: 26%;
}

.nimed5{
	color: #00FFDB;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 1.5em;
	position: absolute;
  	top: 93%;
  	left: 54%;
  	width: 26%;
}

.riiul{
	position: absolute;
  	top: 60%;
  	left: 67%;
	width: 35%;
	height: 25%;
}

.karikas{
	position: absolute;
  	top: 41%;
  	left: 68%;
	width: 20%;
	height: 35%;
}

.karikas1{
	position: absolute;
  	top: 42%;
  	left: 78%;
	width: 17%;
	height: 30%;
}

.karikas2{
	position: absolute;
  	top: 45%;
  	left: 86%;
	width: 16%;
	height: 25%;
}

.medalid{
	position: absolute;
  	top: 67%;
  	left: 80%;
	width: 12%;
	height: 21%;
	color: #00FFDB;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 2.3em;
}

.medalid2{
	position: absolute;
  	top: 87%;
  	left: 77%;
	width: 22%;
	color: #00FFDB;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 3em;
}



.kino{
	color: GoldenRod;
	font-family: 'Roboto Slab', serif;
	font-family: 'Acme', sans-serif;
	font-size: 2em;
	position: absolute;
	width: 25%;
  	top: 45%;
  	left: 3%;
}

.kino1{
	position: absolute;
  	top: 60%;
  	left: 3%;
}

:root{
  --width: 100%;
  --height: 100%;
  --border-width: 100px;
  --border-height: 100px;

}

.gallery{
  position:absolute;
  top: 50%;
  left: 32%;
  height: 40%;
  width: 40%;
}

.gallery:after{
  content:'';
}

img{
  width:var(--width);
  height:var(--height);
}

.clipped-border{
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
   padding:5px;
   background:linear-gradient(#00f9ff,white);
   width:var(--border-width);
   height:var(--border-height);
   max-height:13em;
   max-width:13em;
   height: var(--height);
   width:var(--width);
   transition:transform 0.2s;
   position:absolute;
   cursor:pointer;
}



.clipped-border:before{
  content:'';
  position:absolute;
  opacity:0.5;
  width:20em;
  height:5em;
  background:white;
  top:0;
  left:0;
  z-index:1;
  transform:rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:hover:before{
  transform: translate(-100px,400%) rotate(45deg);
  transition:transform 0.5s;
}

.clipped-border:nth-child(2){
  top:196px;
  left:118px;
}

.clipped-border:nth-child(3){
  top:0;
  left:235px;
}

.clipped-border:nth-child(4){
  top:196px;
  left:353px;
}

.clipped-border:nth-child(5){
  top:0;
  left:470px;
}

#clipped {
-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);

}

.clipped-border:hover{
  transform:scale(1.2);
  transition:transform 0.2s;
  z-index:10;
}


@media screen and (max-width:500px){
  .clipped-border{
    width:100px;
    height:100px;
  }
  
  .clipped-border:nth-child(2){
    top:0;
    left:100px;
  }
  
  .clipped-border:nth-child(3){
    left:200px;
  }
  
  .clipped-border:nth-child(4){
    top:82px;
    left:50px;
  }
  
  .clipped-border:nth-child(5){
    top:82px;
    left:150px;
  }
}
