<<<<<<< HEAD
body {
  background-image: linear-gradient(darkblue, black, darkblue);
}


.pilt {
  position: absolute;
  top: -2%;
  left: 37%;
  width: 26%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

kena {
	color: White;
	font-family: Georgia;
	font-size: 30px;
        text-align: center;

=======
body {
  background-image: linear-gradient(darkblue, black, darkblue);
}


.pilt {
  position: absolute;
  top: -2%;
  left: 37%;
  width: 26%;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

kena {
	color: White;
	font-family: Georgia;
	font-size: 30px;
        text-align: center;

>>>>>>> 314398356a5d1ba83670289dd76319bc3b2e8ec0
}